.imgMv{
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover{
    transform: scale(1.1);
  }
}

a:link{color: #666;}  //没有访问过的
a:visited{color: #f00;} //访问过的
a:hover{color: #8cc8ff;}
a:active{color: #27ffc0}

//uI伪类选择器
input:enabled{background-color: #0f0} //input 可用时为绿色
input:disabled{background-color: red} //input 不可用时为红色
