.imgDiv{
  width: 200px;
  transition: all 0.3s ease;
  padding: 10px;
  border:  1px solid rgba(255,0,0,0);
  cursor: pointer;
  &:hover{
    opacity: 0.8;
    border: rgba(255,0,0,1) 1px solid;
  }
}

.fontD{
  font-size: 40px;
  font-weight: 500;
  color: white;
  text-shadow: 0 0 5px red;
}
.fontApple{
  background: #cccccc;
  font-size: 40px;
  font-weight: 800;
  text-shadow: white 0 2px 2px;
}

.textOverflow1{
  margin: 30px auto;
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  height: 80px;
  text-overflow: clip;
  overflow: hidden;
}
.textOverflow2{
  margin: 30px auto;
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  height: 80px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/*html{
  font-size: 62.5%;
}
body{
  font-size: 1.4rem;
}*/
.lastD{
  font-size: 2rem;
}
.lastD{
  //font-size: 50px;
}